# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/
.idx/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/google-services.json
/ios/
/macos/
/linux/
/windows/

#  firebase_option and scure environment data
*.env
.metadata
web/env.js
release-key.jks
key.properties
assets/images/jurnal_pendapatan.png
assets/images/jurnal_belanja.png
assets/images/jurnal_anggaran.png
assets/images/jurnal_pembalik.png
assets/images/jurnal_pembiayaan.png
assets/images/jurnal_penutup.png
assets/images/jurnal_umum.png
assets/images/buku_mutasi_rekening.png
assets/images/buku_besar.png
assets/images/buku_besar_pembantu.png
assets/images/buku_jurnal.png
